<html>

<head>
  <title>chat</title>
  <style>
    input {
      display: block;
    }

    ul {
      list-style: none;
    }
  </style>
</head>

<body>
  <ul id="messages"></ul>
  <!--ここにjsでliを追加していく感じ-->
  websocketを使ったチャットアプリケーション
  <form id="chatbox">
    {{.UserData.name}}:<br />
    <textarea></textarea>
    <input type="submit" value="送信" />
  </form>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
  </script>
  <script>
    //jquery
    $(function () {
      var socket = null;
      var msgBox = $("#chatbox textarea");
      var messages = $("#messages");
      $("#chatbox").submit(function () {//submitが押されたら
        console.log("submit")
        if (!msgBox.val()) return false;
        if (!socket) {
          alert("エラー：websocket接続が行われていません。")
          return false;
        }
        console.log("no error")
        //Json.stringifyで正式なJSON形式に変換
        socket.send(JSON.stringify({ "Message": msgBox.val() }));//クライアント側からサーバー側に送信
        msgBox.val("");//formの中は空にする
        return false
      });
      if (!window["WebSocket"]) {
        alert("エラー：WebSocketに対応していないブラウザです。")
      } else {
        socket = new WebSocket("ws://{{.Host}}/room");
        socket.onclose = function () {
          alert("接続が終了しました。");
        }
        //messagesのDOMにliを追加
        socket.onmessage = function (e) {
          var msg = JSON.parse(e.data)
          //2021-09-20
          var year = msg.When.slice(0, 4)
          var month = msg.When.slice(5, 7)
          var day = msg.When.slice(8, 10)
          messages.append(
            $("<li>").append(
              $("<strong>").text(msg.Name + ": "),
              $("<span>").text(msg.Message),
              $("<span>").text("     日時:" + year + "年" + month + "月" + day + "日")

            )
          );
        }
      }
    });
  </script>
</body>

</html>